body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;

}

.stage{
    background: url(images/stage.jpg) no-repeat  ;
  background-size:100% 100%;
  height:750px;
  z-index: -1;
}
.people{
   background-image : url(images/people.gif) ;
   background-repeat: no-repeat ;
  background-size:100% 100%;
  height:250px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-image : url(images/girldancing.gif) ;
  /*background-image : url(images/crazydance.gif) ;*/

  height:255px;
  width:220px;

  position:absolute;
}


.joy1{
  background-image : url(images/funny.gif) ;
  /*background-image : url(images/crazydance.gif) ;*/

  height:410px;
  width:220px;

  position:absolute;
}

.crzyDancer{
  background-image : url(images/ohyeah.gif) ;
  /*background-image : url(images/crazydance.gif) ;*/
  position:absolute;
}

.crzyDancer2{
  background-image : url(images/simpson.gif) ;
  /*background-image : url(images/crazydance.gif) ;*/
  position:absolute;
}


.crzyDancer3{
  background-image : url(images/giphy.gif) ;
  /*background-image : url(images/crazydance.gif) ;*/
  position:absolute;
}

.dancer2{
  background-image : url(images/mrbean.gif) ;
  border:30px solid green;
  border-radius:10px;
  position:absolute;
}
